:root {
	--color-neutral-900: #282828;
	--color-neutral-900-opa: #2828281a;
	--color-neutral-500: #535353;
	--color-neutral-200: #dedede;
	--color-neutral-100: #ffffff;
	--color-mac-red: #ff3b48;
	--color-mac-yellow: #ffc800;
	--color-mac-green: #00e244;
	--color-stroke: #3a3a3a;
	--shadow: 4px 4px 4px #00000040;
	--font-family: "Open Sans", sans-serif;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: calc(var(--vh) * 100);
	background: fixed center/cover no-repeat
		url("https://unsplash.com/photos/PK0MW4TjvzE/download?force=true&w=1920");
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: var(--color-neutral-200);
	font-family: var(--font-family);
	z-index: -1;
}

.background-blur {
	position: absolute;
	top: 0;
	left: 0;
	/* background-color: var(--color-neutral-900-opa); */
	width: 100%;
	height: 100%;
	z-index: 0;
	/* padding-inline: 1rem; */
	/* opacity: 0.2; */
	backdrop-filter: blur(25px);
}
.window {
	margin-top: 5rem;
	z-index: 1;
	background-color: var(--color-neutral-900);
	height: 70%;
	max-height: 500px;
	width: 95%;
	max-width: 800px;
	border-radius: 8px;
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.title-bar {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	padding: 0.25rem;
	background-color: var(--color-neutral-500);
	border-bottom: 1px solid var(--color-stroke);
	user-select: none;
}

.mac-esque-buttons {
	display: flex;
	gap: 0.5rem;
	width: max-content;
	height: max-content;
	position: absolute;
	left: 1rem;
	top: 50%;
	transform: translateY(-50%);
}

.mac-buttons {
	height: 14px;
	width: 14px;
	/* background-color: red; */
	border-radius: 50%;
}

.mac-buttons.close {
	background-color: var(--color-mac-red);
}
.mac-buttons.maximize {
	background-color: var(--color-mac-yellow);
}
.mac-buttons.minimize {
	background-color: var(--color-mac-green);
}

.work-area {
	height: 100%;
	display: flex;
}

.toolbar {
	background-color: var(--color-neutral-500);
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	align-items: center;
	padding-inline: 0.25rem;
	padding-top: 1rem;
	border-right: solid 2px var(--color-stroke);
}

.toolbar-button {
	text-align: center;
	width: 30px;
	height: 25px;
	font-size: 1.2rem;
	background-color: transparent;
	border: none;
	outline: none;
	color: var(--color-neutral-200);
	border-radius: 2px;
}

.toolbar-button:hover,
.toolbar-button.selected {
	background-color: var(--color-neutral-900);
}

input[type="radio"] {
	display: none;
}

.main-region {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.window-footer {
	width: 100%;
	background-color: #535353;
	height: 20px;
	border-top: 2px solid var(--color-stroke);
}

.artboard {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.canvas {
	height: 400px;
	width: 400px;

	margin-inline: auto;
	/* padding-top: 100%; */
	background-color: var(--color-neutral-100);
	box-shadow: var(--shadow);
	display: grid;
	grid-template: repeat(64, 1fr) / repeat(64, 1fr);
	cursor: crosshair;
}

i {
	pointer-events: none;
}

.pixel {
	box-shadow: inset 0 0 0 0.125px var(--color-neutral-500);
}

footer {
	background-color: var(--color-neutral-500);
	z-index: 1;
	width: 100%;
	text-align: center;
	padding: 0.5rem;
	z-index: 20;
}

footer a {
	background-color: var(--color-neutral-900);
	color: inherit;
	display: inline-block;
	padding: 0.25rem;
	border-radius: 4px;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}

.resize-modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--color-neutral-900-opa);
	z-index: 10;
	display: grid;
	place-items: center;
}

.no-visibility {
	display: none;
}

.overlay-effect {
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(4px);
	z-index: 11;
}

.card {
	background-color: var(--color-neutral-500);
	border-radius: 8px;
	height: 150px;
	width: 300px;
	z-index: 12;
	box-shadow: var(--shadow);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: none;
}

.selection-area {
	background-color: var(--color-neutral-500);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.range-slider-label {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding: 0 2rem;
}

.range-slider-label div {
	font-size: 0.8rem;
	background-color: var(--color-neutral-900);
	border-radius: 4px;
	padding: 0.1rem 0.2rem;
}

.size-selection {
	/* display: bli; */
	/* width: 100%; */
	-moz-appearance: none;
	-webkit-appearance: none;
	height: 3px;
	width: 100%;
	background-color: var(--color-neutral-900);
	border-radius: 100vh;
}

.size-selection::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 15px;
	height: 15px;
	background: #2f9ecb;
	border-radius: 50%;
}

.selection {
	color: var(--color-neutral-200);
	background-color: var(--color-neutral-900);
	/* outline: none; */
	border: 2px solid var(--color-neutral-900);
	cursor: pointer;
	padding: 0.2rem 0.5rem;
	border-radius: 4px;
}

/* .working-button {
} */

@media (max-width: 520px) {
	.canvas {
		width: 300px;
		height: 300px;
	}
}
@media (max-width: 380px) {
	.canvas {
		width: 240px;
		height: 240px;
	}
}
